---
import Layout from 'layouts/Layout.astro'
import { About, Experience, Skills, ContactMe } from 'components'

export const getStaticPaths = () => [
    { params: { locale: 'en' } },
    { params: { locale: 'lv' } },
    { params: { locale: 'ru' } }
]
---

<Layout title='Andrey Lapchik'>
    <main>
        <About />
        <Skills />
        <Experience />
        <ContactMe />
    </main>
</Layout>
