---
import { useTranslations } from 'i18n'

interface Props {
    title: string
    skills: {
        skill: string
        level: 1 | 2 | 3
    }[]
}

const { title, skills } = Astro.props

const skillLevels = {
    '1': 'Beginner',
    '2': 'Intermediate',
    '3': 'Experienced'
}
---

<div
    class='m-auto w-[335px] rounded-[32px] bg-gray-200 px-7 pb-6 dark:bg-[#2A2A67] sm:w-[420px] sm:px-12'
>
    <h1 class='my-5 text-center text-3xl font-bold text-zinc-800 dark:text-white sm:text-4xl'>
        {title}
    </h1>

    <div class='m-auto grid grid-cols-2 gap-y-2.5'>
        {
            skills.map(({ skill, level }) => (
                <div class='flex gap-2'>
                    <svg
                        fill='currentColor'
                        viewBox='0 0 512 512'
                        class='mt-1 text-[#3EB9ED]'
                        height='20'
                        width='20'
                    >
                        <path d='M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z' />
                    </svg>
                    <div class='h-fit w-fit'>
                        <h1 class='text-base font-bold text-zinc-800 dark:text-white sm:text-xl'>
                            {skill}
                        </h1>
                        <h3 class='text-sm font-bold text-zinc-600 dark:text-white dark:text-opacity-50 sm:text-base'>
                            {skillLevels[level]}
                        </h3>
                    </div>
                </div>
            ))
        }
    </div>
</div>
