---
import Layout from 'layouts/Layout.astro'

export const getStaticPaths = () => [
    { params: { locale: 'en' } },
    { params: { locale: 'lv' } },
    { params: { locale: 'ru' } }
]
---

<Layout title='Hello'> <p>Hello</p> </Layout>
