---
import Layout from 'layouts/Layout.astro'

export const getStaticPaths = () => [
    { params: { project: 'tasker' } },
    { params: { project: 'lapchess' } },
    { params: { project: 'carmarket' } }
]

const { project } = Astro.params
---

<Layout title='Lapchess'>
    <p class='text-4xl font-semibold text-zinc-800 dark:text-white'>{project}</p>
</Layout>
