---
import { AiOutlineInstagram, AiOutlineLinkedin, AiOutlineWhatsApp } from 'react-icons/ai'
import { VscGithub } from 'react-icons/vsc'
---

<div class='mt-10 flex h-28 items-center justify-center gap-4 sm:mt-14'>
    <a href='https://github.com/Andryshka7' target='blank'>
        <VscGithub
            className='text-gray-500 transition duration-200 hover:scale-105 dark:text-gray-400'
            size={50}
        />
    </a>
    <a href='https://www.instagram.com/andryshka.16' target='blank'>
        <AiOutlineInstagram
            className='text-gray-500 transition duration-200 hover:scale-105 dark:text-gray-400'
            size={62}
        />
    </a>
    <a href='https://wa.me/+37128176717' target='blank'>
        <AiOutlineWhatsApp
            className='text-gray-500 transition duration-200 hover:scale-105 dark:text-gray-400'
            size={56}
        />
    </a>
    <a href='https://www.aedin.com/in/andrey-lapchik-03b72326b' target='blank'>
        <AiOutlineLinkedin
            className='text-gray-500 transition duration-200 hover:scale-105 dark:text-gray-400'
            size={60}
        />
    </a>
</div>
