---
import { useTranslations } from 'i18n'
import type { Locale } from 'types'
import { backend, frontend } from 'content'

import SkillList from './components/SkillList.astro'

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<div id='skills' class='mt-20 sm:mt-36'>
    <h1 class='text-center text-5xl font-bold text-zinc-700 dark:text-teal-400 sm:text-6xl'>
        {t('skills.title')}
    </h1>
    <div class='m-auto mt-14 flex w-fit flex-wrap gap-12 sm:mt-20 xl:gap-x-24'>
        <SkillList title='Frontend' skills={frontend} />
        <SkillList title='Backend' skills={backend} />
    </div>
</div>
