<div
    class='m-auto mt-10 w-fit text-center sm:mt-36'
    id='about'
    data-aos='fade-up'
    data-aos-duration='500'
>
    <h1 class='text-5xl font-bold text-zinc-700 sm:text-6xl dark:text-teal-400'>
        Hi, i am Andrey Lapchik
    </h1>
    <h2 class='mt-4 text-2xl font-semibold text-zinc-800 sm:text-3xl dark:text-white'>
        Full-stack web developer
    </h2>
    <p
        class='m-auto mt-5 max-w-[650px] text-xl font-medium text-zinc-900 sm:text-2xl dark:text-white'
    >
        17-year-old computer science student from Latvia specializing in full-stack development, and
        passionate about creating efficient web applications.
    </p>
    <img src='./panda.png' class='m-auto mt-8 h-64 w-64 rounded-full sm:h-72 sm:w-72' />
</div>
