---
import Layout from 'layouts/Layout.astro'
import { About, Experience, Skills, ContactMe } from 'components'
---

<Layout title='Andrey Lapchik'>
    <main>
        <About />
        <Skills />
        <Experience />
        <ContactMe />
    </main>
</Layout>
