<form
    class='mx-auto flex w-full flex-col rounded-3xl bg-zinc-200 px-14 pb-10 pt-9 dark:bg-[#2A2A67] sm:max-w-[700px] sm:px-24'
    id='contact-form'
>
    <h1 class='mb-2 text-center text-4xl font-bold text-zinc-700 dark:text-teal-400 sm:text-5xl'>
        Contact me
    </h1>

    <input
        name='name'
        type='text'
        placeholder='Your name'
        class='my-6 h-12 block w-full border-b-2 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:text-white sm:text-xl border-b-zinc-400 dark:border-b-[#05CEC2]'
        required
    />
    <input
        name='email'
        type='email'
        placeholder='Your email'
        class='my-6 h-12 block w-full border-b-2 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:text-white sm:text-xl border-b-zinc-400 dark:border-b-[#05CEC2]'
        required
    />
    <textarea
        name='message'
        placeholder='Your message'
        class='my-6 h-12 min-h-12 block w-full border-b-2 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:text-white sm:text-xl border-b-zinc-400 dark:border-b-[#05CEC2]'
        required></textarea>

    <button
        type='submit'
        class='mt-6 w-full rounded-md bg-red-400 py-1 text-xl font-bold text-zinc-100 transition dark:bg-[#05CEC2] dark:text-[#2A2A67] hover:bg-opacity-70 dark:hover:bg-opacity-70'
    >
        Send
    </button>
</form>

<script>
    import { sendForm } from 'emailjs-com'
    import { showAlert } from 'helpers'

    const SERVICE = import.meta.env.PUBLIC_EMAILJS_SERVICE!
    const TEMPLATE = import.meta.env.PUBLIC_EMAILJS_TEMPLATE!
    const USER_KEY = import.meta.env.PUBLIC_EMAILJS_USER_KEY!

    const form = document.getElementById('contact-form')! as HTMLFormElement
    const button = form.querySelector('button[type="submit"]')!

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        button.classList.add('pointer-events-none', 'bg-opacity-70', 'dark:bg-opacity-70')
        button.classList.remove('hover:bg-opacity-70', 'dark:hover:bg-opacity-70')

        try {
            await sendForm(SERVICE, TEMPLATE, form, USER_KEY)
            showAlert({
                content: { name: 'Message sent!', text: 'Your message has been sent' },
                type: 'success'
            })
            form.reset()
        } catch (error) {
            showAlert({
                content: { name: 'Error!', text: 'Failed to send message' },
                type: 'error'
            })
        }

        button.classList.remove('pointer-events-none', 'bg-opacity-70', 'dark:bg-opacity-70')
        button.classList.add('hover:bg-opacity-70', 'dark:hover:bg-opacity-70')
    })
</script>
