---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from 'i18n'
import type { Locale } from 'types'

import { Icon } from 'components/ui'

import LanguageSelector from '../shared/LanguageSelector.astro'
import ThemeSelector from '../shared/ThemeSelector.astro'

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<nav class='flex w-full items-center justify-between px-8 py-8 lg:hidden'>
    <a
        class='-mt-1.5 text-4xl font-bold text-zinc-800 dark:text-white'
        href={getRelativeLocaleUrl(locale)}
    >
        {t('title')}
    </a>
    <Icon name='Menu' width='35' height='35' class='open-navbar dark:text-white' />

    <div
        class='fixed left-0 top-0 z-10 h-full w-full -translate-y-full bg-zinc-200 dark:bg-slate-800'
        id='mobile-navbar'
    >
        <div class='flex h-full w-full flex-col items-center px-8'>
            <div class='mx-8 my-10 flex w-full items-center justify-between'>
                <a
                    class='min-w-fit rounded-md border-2 border-black px-4 py-1 text-sm font-semibold duration-200 hover:border-slate-400 hover:bg-slate-400 hover:text-white dark:border-teal-400 dark:text-teal-400 dark:hover:bg-teal-400 dark:hover:text-[#2A2A67]'
                    href='./CV.pdf'
                    download='CV.pdf'
                >
                    {t('ui.buttons.downloadCV')}
                </a>
                <div class='flex items-center gap-3'>
                    <ThemeSelector />
                    <LanguageSelector />
                </div>
            </div>
            <div
                class='my-12 flex h-full flex-col items-center justify-between text-4xl font-semibold'
            >
                <a class='close-navbar text-zinc-700 dark:text-white' href='#about'>
                    {t('ui.labels.about')}
                </a>
                <a class='close-navbar text-zinc-700 dark:text-white' href='#skills'>
                    {t('ui.labels.skills')}
                </a>
                <a class='close-navbar text-zinc-700 dark:text-white' href='#experience'>
                    {t('ui.labels.experience')}
                </a>
                <a class='close-navbar text-zinc-700 dark:text-white' href='#contact-form'>
                    {t('ui.labels.contact')}
                </a>
            </div>
            <Icon
                name='Close'
                height='100'
                width='100'
                class='close-navbar my-10 text-zinc-800 transition-transform hover:scale-105 dark:text-white'
            />
        </div>
    </div>
</nav>
<script>
    const navbar = document.getElementById('mobile-navbar')!

    const openNavbarButton = document.querySelector('.open-navbar')!
    const closeNavbarButtons = document.querySelectorAll('.close-navbar')

    openNavbarButton.addEventListener('click', () => {
        navbar.classList.remove('-translate-y-full')
        document.documentElement.classList.add('overflow-hidden')
    })

    closeNavbarButtons.forEach((element) => {
        element.addEventListener('click', () => {
            navbar.classList.add('-translate-y-full')
            document.documentElement.classList.remove('overflow-hidden')
        })
    })
</script>
