---
import { useTranslations } from 'i18n'
import type { Locale } from 'types'

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<form
    class='mt-20 flex w-[360px] flex-col rounded-3xl bg-zinc-200 px-12 py-10 dark:bg-[#2A2A67] xs:w-5/6 sm:mt-36 md:w-[700px] md:px-24'
    id='contact-form'
>
    <h1 class='mb-2 text-center text-4xl font-bold text-zinc-700 dark:text-teal-400 sm:text-5xl'>
        {t('ui.labels.contact-form')}
    </h1>

    <input
        name='name'
        type='text'
        placeholder={t('contact.name')}
        class='my-6 block h-12 w-full border-b-2 border-b-zinc-400 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:border-b-[#05CEC2] dark:text-white sm:text-xl'
        required
    />
    <input
        name='email'
        type='email'
        placeholder={t('contact.email')}
        class='my-6 block h-12 w-full border-b-2 border-b-zinc-400 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:border-b-[#05CEC2] dark:text-white sm:text-xl'
        required
    />
    <textarea
        name='message'
        placeholder={t('contact.message')}
        class='my-6 block h-12 min-h-12 w-full border-b-2 border-b-zinc-400 bg-transparent p-2 text-lg font-medium text-zinc-800 transition focus:outline-none dark:border-b-[#05CEC2] dark:text-white sm:text-xl'
        required></textarea>

    <button
        type='submit'
        class='mt-6 w-full rounded-md bg-red-400 py-1 text-xl font-bold text-zinc-100 transition hover:bg-opacity-70 dark:bg-[#05CEC2] dark:text-[#2A2A67] dark:hover:bg-opacity-70'
    >
        {t('ui.buttons.send')}
    </button>
</form>

<script>
    import { showAlert } from './helpers'
    import { useTranslations } from 'i18n'
    import type { Locale } from 'types'

    import { sendForm } from 'emailjs-com'

    const locale = document.documentElement.lang as Locale
    const t = useTranslations(locale)

    const SERVICE = import.meta.env.PUBLIC_EMAILJS_SERVICE!
    const TEMPLATE = import.meta.env.PUBLIC_EMAILJS_TEMPLATE!
    const USER_KEY = import.meta.env.PUBLIC_EMAILJS_USER_KEY!

    const form = document.getElementById('contact-form') as HTMLFormElement | null

    form?.addEventListener('submit', async (e) => {
        e.preventDefault()

        const button = form.querySelector('button[type="submit"]')!

        button.classList.add('pointer-events-none', 'bg-opacity-70', 'dark:bg-opacity-70')
        button.classList.remove('hover:bg-opacity-70', 'dark:hover:bg-opacity-70')

        try {
            await sendForm(SERVICE, TEMPLATE, form, USER_KEY)
            showAlert({
                content: {
                    name: t('ui.alert.messageSent.name'),
                    text: t('ui.alert.messageSent.text')
                },
                type: 'success'
            })
            form.reset()
        } catch (error) {
            showAlert({
                content: {
                    name: t('contact.alert.messageError.name'),
                    text: t('contact.alert.messageError.text')
                },
                type: 'error'
            })
        }

        button.classList.remove('pointer-events-none', 'bg-opacity-70', 'dark:bg-opacity-70')
        button.classList.add('hover:bg-opacity-70', 'dark:hover:bg-opacity-70')
    })
</script>
