---
import type { Locale } from 'types'
import '../index.css'

import { Navbar, Footer, Alert } from 'components/ui'

interface Props {
    title: string
}

const { title } = Astro.props

const language = Astro.currentLocale as Locale
---

<html lang={language}>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' href='/favicon.png' />

        <title>{title}</title>

        <script is:inline>
            const theme = localStorage.getItem('theme')
            document.querySelector('html').classList.toggle('dark', theme !== 'light')
        </script>
    </head>

    <body class='flex min-h-screen flex-col bg-slate-100 px-5 dark:bg-[#0f1829]'>
        <Navbar />
        <main class='flex flex-col items-center'>
            <slot />
        </main>
        <Footer />

        <Alert />

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const anchors = document.querySelectorAll('a[href^="#"]')
                anchors.forEach((anchor) => {
                    anchor.addEventListener('click', (event) => {
                        event.preventDefault()
                        const target = anchor?.getAttribute('href')?.substring(1)!
                        const element = document.getElementById(target)!
                        element.scrollIntoView({ behavior: 'smooth', block: 'center' })
                    })
                })
            })
        </script>
    </body>
</html>
