---
import type { Locale } from 'types'
import { MobileNavbar, DesktopNavbar, Footer, Alert } from 'components/ui'
import '../index.css'

interface Props {
    title: string
}

const { title } = Astro.props

const language = Astro.currentLocale as Locale
---

<html lang={language}>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' href='/favicon.png' />

        <title>{title}</title>

        <script is:inline>
            const theme = localStorage.getItem('theme')
            document.querySelector('html').classList.toggle('dark', theme !== 'light')
        </script>
    </head>

    <body class='flex min-h-screen flex-col bg-slate-100 dark:bg-midnight'>
        <DesktopNavbar />
        <MobileNavbar />

        <main class='flex flex-col items-center'>
            <slot />
        </main>

        <Alert />
        <Footer />

        <script>
            const { lang } = document.documentElement
            const origin = `${window.location.origin}/${lang}`

            document.addEventListener('DOMContentLoaded', function () {
                const target = sessionStorage.getItem('scrollTo')

                if (target) {
                    const element = document.getElementById(target.substring(1))!
                    element.scrollIntoView({ behavior: 'smooth', block: 'center' })
                    sessionStorage.removeItem('scrollTo')
                }

                const anchors = document.querySelectorAll('a[href^="#"]')

                anchors.forEach((anchor) => {
                    anchor.addEventListener('click', (event) => {
                        event.preventDefault()
                        const target = anchor?.getAttribute('href')!
                        const element = document.getElementById(target.substring(1))

                        if (element) {
                            element.scrollIntoView({ behavior: 'smooth', block: 'center' })
                        } else {
                            sessionStorage.setItem('scrollTo', target)
                            window.location.replace(origin)
                        }
                    })
                })
            })
        </script>
    </body>
</html>
