---
import { getRelativeLocaleUrl, getAbsoluteLocaleUrl } from 'astro:i18n'
import { useTranslations } from 'i18n'
import type { Locale } from 'types'

import Icon from 'components/ui/Icon.astro'
import LanguageSelector from '../shared/LanguageSelector.astro'
import ThemeSelector from '../shared/ThemeSelector.astro'

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<nav class='flex w-full items-center justify-between px-5 py-8 lg:hidden'>
    <a
        class='-mt-1.5 text-4xl font-bold text-zinc-800 dark:text-white'
        href={getRelativeLocaleUrl(locale)}
    >
        Portfolio
    </a>
    <Icon name='Menu' width='35' height='35' id='open-navbar' class='dark:text-white' />
</nav>

<div
    class='fixed left-0 z-10 top-0 h-full w-full bg-zinc-200 dark:bg-slate-800 -translate-y-full'
    id='navbar'
>
    <div class='flex flex-col items-center h-full w-full px-10'>
        <div class='mx-8 my-10 flex w-full items-center justify-between'>
            <ThemeSelector />
            <LanguageSelector />
        </div>
        <div class='my-10 flex h-full flex-col justify-between items-center'>
            <a
                class='close-navbar text-xl font-semibold text-zinc-700 dark:text-white'
                href='#about'
            >
                {t('navbar.navigators.about')}
            </a>
            <a
                class='close-navbar text-xl font-semibold text-zinc-700 dark:text-white'
                href='#skills'
            >
                {t('navbar.navigators.skills')}
            </a>
            <a
                class='close-navbar text-xl font-semibold text-zinc-700 dark:text-white'
                href='#experience'
            >
                {t('navbar.navigators.experiences')}
            </a>
            <a
                class='close-navbar text-xl font-semibold text-zinc-700 dark:text-white'
                href='#contact'
            >
                {t('navbar.navigators.contact')}
            </a>
        </div>
        <Icon
            name='Close'
            height='100'
            width='100'
            class='close-navbar my-10 text-zinc-800 transition hover:scale-105 dark:text-white'
        />
    </div>
</div>

<script>
    const navbar = document.getElementById('navbar')!

    const openNavbarButton = document.getElementById('open-navbar')!
    const closeNavbarButtons = document.querySelectorAll('.close-navbar')!

    openNavbarButton.addEventListener('click', () => {
        document.documentElement.classList.toggle('overflow-hidden')
        navbar.classList.toggle('-translate-y-full')
    })

    closeNavbarButtons.forEach((element) => {
        element.addEventListener('click', () => {
            document.documentElement.classList.toggle('overflow-hidden')
            navbar.classList.toggle('-translate-y-full')
        })
    })
</script>
