---
import { Icon } from 'components/ui'
---

<footer class='mt-auto'>
    <div class='mt-16 flex h-28 items-center justify-center gap-4 py-10'>
        <a href='https://github.com/Andryshka7' target='blank'>
            <Icon
                name='Github'
                class='text-gray-500 transition hover:scale-105 dark:text-gray-400'
                height='50'
                width='50'
            />
        </a>
        <a href='https://www.instagram.com/andryshka.16' target='blank'>
            <Icon
                name='Instagram'
                height='62'
                width='62'
                class='text-gray-500 transition hover:scale-105 dark:text-gray-400'
            />
        </a>
        <a href='https://wa.me/+37128176717' target='blank'>
            <Icon
                name='WhatsApp'
                height='56'
                width='56'
                class='text-gray-500 transition hover:scale-105 dark:text-gray-400'
            />
        </a>

        <a href='https://www.linkedin.com/in/andrey-lapchik-03b72326b' target='blank'>
            <Icon
                name='LinkedIn'
                height='60'
                width='60'
                class='text-gray-500 transition hover:scale-105 dark:text-gray-400'
            />
        </a>
    </div>
</footer>
